*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 50px;
  color: #f7f7f7;
  min-height: 100vh;
  background: #252525;
  text-rendering: optimizeSpeed;
  font-family: "Roboto", sans-serif;
}

.App {
  padding: 1rem;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  background: #333;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 5px;
}

h1 {
  font-weight: 300;
  color: orange;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.form-wrapper {
  display: flex;
  flex-grow: 1;
}

.todos-wrapper {
  margin-bottom: 2.5rem;
}

.todo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid gray;
}

.todo input {
  border-left: none;
  border-top: none;
  border-bottom: none;
}

input {
  flex-grow: 1;
  padding: 0.8em;
}

input:focus {
  outline: none;
}

button {
  min-width: 120px;
  padding: 0.8em;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

input,
button {
  font-size: 1em;
  appearance: none;
  color: currentcolor;
  background: transparent;
  border: 1px solid #828691;
}

button:disabled {
  cursor: default;
  opacity: 0.3;
}

.success-button {
  color: green;
  border: none;
}

.success-button:not(:disabled):hover {
  color: #fff;
  background-color: #008a00;
}

.primary-button {
  color: orange;
}

.primary-button:not(:disabled):hover {
  color: #252525;
  background: #44c0b6;
}

.danger-button {
  border: none;
  color: #fe6a6a;
}

.danger-button:not(:disabled):hover {
  color: #252525;

  background: #fe6a6a;
}

.todo-list {
  padding: 0;
  list-style: none;
  margin-bottom: 0px;
  margin-top: 1.25rem;
}
.todo {
  text-align: left;
  margin-bottom: 0.5rem;
  background: #494847;
  letter-spacing: 0.02rem;
  transition: all 0.3s ease-out;
  border-left: 5px solid #cf972e;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo button {
  border: none;
}

.todo-entry {
  flex-grow: 1;
  padding-left: 5px;
  display: flex;
  gap: 1rem;
  align-items: end;
}

.todo.completed {
  border-left-color: green;
}

.todo.completed .todo-entry {
  color: green;
  text-decoration: line-through;
}

.todo.overdue {
  border-left-color: #fe6a6a;
}

.todo.overdue .todo-entry {
  color: #fe6a6a;
  font-style: italic;
}

.empty {
  font-size: 20px;
  font-weight: 400;
  color: #cf972e;
  letter-spacing: 0.2rem;
}
